# what is htaccess? 
# enables clean URLs
# redirects all request to main page (index.php)
# Send all non-file, non-folder URLs to index.php


RewriteEngine On
RewriteBase / 

# Enable clean URLs by removing .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# For other URLs that don't match files or directories, send to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Block access to any URLs containing "Village-East-Clinic"
RewriteCond %{REQUEST_URI} !Village-East-Clinic
RewriteRule ^(.*)$ index.php [QSA,L]